body {
  margin: 0%;
}

/*beskrivelsen til hvert enkelt bilde hotelsider*/
.HotelTextAndPicture p{
  color: #EEEEEE;
}

/*Hotel picture edit*/
.hotelPicture {
  width: 100%;
  height: auto;
}

.sectionHotel p, h2{
  color: #EEEEEE
}

.hotelContainer {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hotelDesc{
 height: 220px;
}

.hotelDesc2{
 height: 100px;
}

#icon {
 height: 22px;
 width: auto;
}

/*map-edit*/
.mapAndInfo p {
  color: white;
  position: relative;
  float: right;
  text-anchor: left;
  max-width: 100%;
  margin-left: px;
}

#mapAndInfo {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  position: left;
  max-width: 400px;
}



/*seksjon-styling hotellsider/stedersider*/


/*bestillknapp stedermappen*/

.bestill {
  float: left;   
}

.bestill button{
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: 15px 25px;
  font-size: 20px;
  font-family: helvetica;
  line-height: 1.5;
  appearance: none;
  box-shadow: none;
  border-radius: 10px;
    color: #fff;
    background-color: #D86D03;
    text-shadow: 1px 2px black;
    border: none;
      cursor: pointer;
}

.bestill button:hover{
  background-color: orange;
  text-shadow: 1px 2px black;
}

.bestill button:active{
  background-color: #27496d;
  text-shadow: 1px 2px black;
}

#weather{
 margin-left: 20px;
}

/*utforsk hotellknapper? liknende bestillknappen bare på steder siden?*/

/*individuelle hotell/byer overskrifter/velkomster,
farger kan endres, men trengte nok kontrast*/

#welcomeDubrovnikSite p{
  color: #D86D03;
   text-shadow: 3px 2px black;

}

#welcomeDubrovnikSite2 p{
  color: white;
   text-shadow: 3px 2px black;

}

#welcomeLisboaSite p{
  color: #D86D03;
   text-shadow: 3px 2px black;
}

#welcomeMalagaSite p{
  color: #D86D03;
   text-shadow: 3px 2px black;
}


