

/*-------------Form-----------------*/



.red-star{
  color: red;
}

.FrontImageAndtext{
  background: url('https://i.pinimg.com/originals/ae/01/77/ae0177ba21fa3f526fadec3b5f08e384.jpg') center center no-repeat;
}

#OrderForm{
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding-bottom: 20px;
  background-color: #BEBEBE;
    padding: 20px;
    border: 4px solid #D86D03;
    font-family:verdana;
}

.error-message{
  margin:0 0 3px 0;
  padding:0px;
  font-size: 12px;
  color: red;
}

button[type=submit] {
    background-color: #D86D03;
    color: white;
    padding: 34px 50px;
    margin: 8px 0;
    border: none;
        border-radius: 10px;
    font-size: 20px;
    font-family: verdana;
        cursor: pointer;

    }

button[type=reset] {
    background-color: #140028;
    color: white;
    padding: 34px 50px;
    margin: 8px 0;
    border: none;
        border-radius: 10px;
    font-size: 20px;
    font-family: verdana;
        cursor: pointer;

}

select {
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    border:1  px solid #BEBEBE;
      margin: 8px 0;
}

label {
  color: black;
    font-size: 18px;
}

textarea{
  width: 100%;
  font-family:sans-serif;font-size:1.2em;
  height: 200px;
}

.bonus-option{
  text-align: center;
}

.bonus-option p{
  padding: 10px;
  font-size: 20px;
}

#price{
  text-align: center;
  padding: 20px;
  color: red;
  font-family: verdana;
  font-size: 28px;
}

 #is-registered{
   color: red;
 }

/*-----------End Form-------------------*/



