.red-star{
    color: red;
  }
  
  .FrontImageAndtext{
    background: url('https://i.pinimg.com/originals/ae/01/77/ae0177ba21fa3f526fadec3b5f08e384.jpg') center center no-repeat;
  }
  
  #RegistrationForm{
      min-width: 190px;
      margin-left: auto;
      margin-right: auto;
      max-width: 40%;
      padding-bottom: 20px;
      background-color: #BEBEBE;
        padding: 20px;
        border: 4px solid #D86D03;
        font-family:verdana;
  }
  
  #FirstName, #LastName, #UserName, #Email, #Password, #DateOfBirth {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }
  
  .DateOfBirth{
    display: inline-grid;
          box-sizing: border-box;
          border: 1px solid #fff;
        padding: 12px 20px;
        margin: 8px 0;
  }
  
  button[type=submit] {
      background-color: #D86D03;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
          border-radius: 10px;
      font-size: 14px;
      width: inline-block;
      font-family: verdana;
          cursor: pointer;
  
      }
  
  button[type=reset] {
      background-color: #140028;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
          border-radius: 10px;
      font-size: 14px;
      width: inline-block;
      font-family: verdana;
          cursor: pointer;
  
  }
  
  select {
      padding: 16px 20px;
      border: none;
      border-radius: 10px;
  }
  
  label {
    color: black;
    font-family: arial black;
      font-size: 18px;
  }
  
  
  
  