body{
  margin: 0%;
  background: #140028;
}

#header{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    margin-bottom: 66px;
    background-color: #140028;
    z-index: 6;
}

.FrontImageAndtext{
/* REMEMBER TO DELETE top WHEN ONLOAD SCRIPT IS ADDED TO ALL HTML PAGES */
  top: 103px;
}

#front-image{
  width: 100%;
  height: auto;
  /*since width and height of the parent div is not specified, the image will fit the entire page width, and so will the parent div*/
  right:0%;
  left: 0%;
  z-index: 0;
}

#logo-image{
  position: left;
  margin-top: 10px;
    padding-bottom: 8px;
padding-left: 8px;
  height: 65px;
  width: auto;
  cursor: pointer;
}

#logo-image1{
  margin-top: 8px;
  height: 55px;
  width: auto;
}

/*BUTTONS*/

.header-buttons{
  position: inherit;
  right: 30px;
  top: 13px;
}

.header-buttons button{
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 15px 25px;
    font-size: 20px;
    font-family: helvetica;
    line-height: 1.5;
    appearance: none;
    box-shadow: none;
    border-radius: 10px;
      color: #fff;
      background-color: #D86D03;
      text-shadow: 1px 2px black;
      border: none;
        cursor: pointer;

}

.header-buttons button:hover{
  background-color: orange;
  text-shadow: 1px 2px black;
}

.header-buttons button:active{
  background-color: #27496d;
 text-shadow: 1px 2px black;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family: helvetica;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: orange;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden by default */
.dropdown-content {
    display: none;
        position: absolute;
    background-color: white;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: helvetica;
}

.dropdown-content a:hover {background-color: orange}

.show {display:block;}

/*end of dropdown menu and buttons*/


.welcome-text{
  position: absolute;
  margin-top: 80px;
  margin-left: 50px;
  width: 500px;
}

.welcome-text p{
  font-size: 70px;
font-family: arial black;
color: white;
}

.scroll-down-container{
  position: absolute;
  top: 500px;
  width: 100%;
  text-align: center;
}

.scroll-down-container a {
  padding-top: 60px;
}
.scroll-down-container a span {
  position: absolute;
  left: 50%;
  width: 126px;
  height: 126px;
  margin-left: -65px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll-down-container a span::after {
  position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 26px;
    height: 26px;
    margin: -16px 0px 0 -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#chose-city{
width: 80%;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
line-height: 200%;
}

.palme-description {
    color: white;
  font-family: helvetica;
    font-size: 20px;
    margin-left: 20px;
    object-position: center;
}

h3 {
    color: orange;
  font-family: arial black;
    font-size: 25px;
    margin-left: 20px;
}

.city-image{
    width: 100%;
    height: auto;
}

.city-container{
  /*margin-left: 0%;
  margin-right: 0%;*/
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.upper-city-container{
  width: inherit;
}

.hotel-picture-text{
  position: absolute;
  font-size: 140px;
  font-family: arial black;
  color: orange;
  margin-top: 30%;
  margin-left: 20px
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hotel-picture-text-2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  padding: 8px 8px;
    font-size: 25px;
      font-family: arial black;
  color: black;
  margin-top: 40%;
  margin-left: 20px
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.city-description{
    color: white;
  margin-left: 20px;
  font-size: 18px;
  font-family: serif;
}

.learn-more-button {
    display: inline-block;
    margin: 0 20px 0 20px;
    padding: 15px 25px;
    font-size: 20px;
    font-family: helvetica;
    line-height: 1.5;
    appearance: none;
    box-shadow: none;
    border-radius: 10px;
      color: #fff;
      background-color: #D86D03;
      text-shadow: -1px 1px #417cb8;
      border: none;
}

.learn-more-button :hover{
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.learn-more-button :active{
  background-color: #27496d;
 text-shadow: -1px 1px #193047;
}

/*Footer*/

.topp{
    float: right;
  color: orange;
    margin-right: 4%;
}

.footer{
  background-color: #252525;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  padding: 20px 0;

}
.footer-text-center{
  text-align: center;
  color:white;
}

.footer-text{
  margin-left: 4%;
  color: orange;
}




a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color:white;

}

a:active {
    text-decoration: none;
}

/*end footer*/


